chapter {
  display: block;
  padding: 0.25em;
  margin: 0.125em 0.125em;
  border-radius: 0.25em;
  z-index: 2;
  line-1 {
    display: grid;
    grid-template-columns: 1fr 0.75em;
    font-size: 1.125em;
    margin: auto;
    chapter-title {
      display: block;
      text-align: left;
      outline: none;
    }
    chapter-title:before {
      content: attr(type)" "attr(value) ": ";
    }
    handle {
      display: block;
    }
    handle:before {
      font-weight: bold;
      content: "::";
    }
  }

  MetaData {
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    font-size: 75%;
    grid-column: 1 / span 2;
    background-color: white;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    z-index: 1;
    .content-full {
      grid-column: 1 / span 2;
    }
    a {
      outline: none;
    }
    a:focus {
      background-color: rgba(216, 215, 215, 0.322);
    }
  }
}
chapter:hover {
  background-color: rgba(240, 128, 128, 0.281);
}

chapter.chosen {
  background-color: LightSteelBlue;
  //box-shadow: 0 4px 7px 0 rgb(0, 0, 0, 0.5);
}
chapter.selected {
  background-color: rgba(176, 196, 222, 0.753);
}
