body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  //overflow: hidden;
}

#app{
  display: grid;
  grid-template-columns: auto auto 45px;
  grid-template-rows: 100vh;
}

hr#tools {
        height: 1px;
        background-color: grey;
        border: none;
        padding: 0px;
        margin: 1px;
}