body {
  font-family: 'Merriweather', serif;
  background-color: grey;
  overflow: none;
}
::-webkit-scrollbar {
  display: none;
}

app {
  background-color: inherit;
  overflow: none;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.8);
}

app.full{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
app.side{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
app.grid1{
  display: grid;
  grid-template-columns: 1fr 1fr 2.5em;
  grid-template-rows: 1fr 1fr;
}