body {
  font-family: 'Merriweather', serif;
  background-color: #608d87;
  overflow: none;
}
::-webkit-scrollbar {
  display: none;
}


.center{
  text-align: center;
}

app {
  background-color: 	#60718d;
  overflow: none;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.8);
}

app.full{
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 0em;
}
app.side{
  position: absolute;
  top: 0em;
  bottom: 0em;
  left: 0em;
  right: 20em;
}
app.grid1{
  display: grid;
  grid-template-columns: 1fr 0em 2.5em;
  grid-template-rows: 1fr 0fr;
}
app.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 2.5em;
  grid-template-rows: 1fr 0fr;
}
app.grid3{
  display: grid;
  grid-template-columns: 1fr 1fr 2.5em;
  grid-template-rows: 1fr 1fr;
}
app.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr 2.5em;
  grid-template-rows: 1fr 1fr;
}


.left{
  text-align: left;
}

.right{
  text-align: right;
}

.underline{
  border-bottom: solid 1px  black;
}