part {
  display: block;
  border-radius: 0.25em;
  margin: .25em;
  z-index: 1;
  row1 {
    display: grid;
    grid-template-columns: 1fr 1em;
    font-size: 1.125em;
    padding: 0.125em;
    part-title {
      display: block;
      text-align: left;
      outline: none;
    }
    part-title:before {
      content: attr(type) " " attr(value) ": ";
    }
    handle {
      display: block;
    }
    handle:before {
      font-weight: bold;
      content: "::";
      cursor: grabbing;
    }
  }

}
