part {
  display: block;
  
  border-radius: 0.25em;
  padding: 0.125em;
  margin: .25em;
  font-size: .80em;
  z-index: 1;
  line-1 {
    display: grid;
    grid-template-columns: 1fr 0.75em;
    font-size: 1.125em;
    padding: 0.125em;
    part-title {
      display: block;
      text-align: left;
      outline: none;
    }
    part-title:before {
      content: attr(type) " " attr(value) ": ";
    }
    handle {
      display: block;
    }
    handle:before {
      font-weight: bold;
      content: "::";
      cursor: grabbing;
    }
  }
  .chosen {
    background-color: lightcoral;
    box-shadow: 0 4px 7px 0 rgb(0, 0, 0, 0.5);
  }
}
part:hover{
  background-color: darkgrey;
}
