#menu{
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 300px;
  right: 0px;
}

#selectbook{
  margin: 0px 0px 0px 0px;

padding: 5px 0px 5px 10px;
  display: none;
color: white;}

section:hover{
  color: black;
  background-color: lightgrey;
  }