toolbar{
  grid-row: 1/span 2;
  grid-column: 3;
  background-color: rgb(141, 114, 96);
  padding: .25em;
  display: grid;
  grid-template-rows: 2.25em 1fr 2.5em;
}

toolbar book-title{
  display: block;
  margin: auto 0em auto .5em;
}

toolbar row{
  display: block;
}


toolbar row button{
  background-color: inherit;
  color: black;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 100%;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: .5em auto 0em auto;
}
row button:hover{
  background-color: #C6B9B0;
}
toolbar row1{
  display: block;
  border-color: black;
  border-bottom: solid 1px;
}

toolbar row1 button{
  background-color: inherit;
  color: black;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 100%;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin: auto;
}
toolbar row1 button:hover{
  background-color: #C6B9B0;
}

button.selected{
  background-color: #C6B9B0;
}




