editor {
  background-color: rgb(270, 250, 250);
  display: grid;
  grid-template-columns: 15em 1fr 5em;
  grid-template-rows: 1fr;
  overflow: hidden;
  margin: 5px 0px 5px 5px;
  border-radius: 0.25em;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.75);
  
  col-1 {
    display: grid;
    grid-column: 1;
    grid-template-rows: auto 2.5em;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    
    booktitle {
      display: block;
      padding: .25em;
      border-bottom: solid 1px darkgrey;
      text-align: center;
      font-size: 1.125em;
    }
    add-contents {
      padding: 0.25em 0 0.25em 0;
      display: grid;
      grid-template-columns: auto 4.5em;
      margin: 0.25em;
      border-top: solid 1px darkgrey;
    }
    word-count {
      font-weight: bold;
      padding: 0.25em 0.5em;
    }
    word-count:after {
      content: " words";
    }
    table-of-contents{
      font-size: .80em;
    }
  }

  button {
    background-color: inherit;
    color: black;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 100%;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }

  button:hover {
    background-color: lightgrey;
  }


  col-3 {
    border-radius: 0px 5px 5px 5px;
    display: grid;
    grid-template-rows: 35px auto 40px;
    grid-row: 1 / span 3;
    grid-column: 3 / span 1;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  draft-title {
    margin: 0.25em;
    text-align: center;
    border-bottom: solid 1px darkgrey;
  }
  a {
    outline: none;
  }
  a:focus {
    border-radius: 0.125em;
    background-color: lightgrey;
  }

  [contenteditable="true"]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: gray;
  }
    booktitle:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: gray;
  }
}

.full {
    grid-template-columns: 15em 1fr 5em;
    grid-template-rows: 1fr;
  }
.hide-toc {
    grid-template-columns: 0em 1fr 5em;
    grid-template-rows: 1fr;
  }
.hide-drafts {
    grid-template-columns: 15em 1fr 0em;
    grid-template-rows: 1fr;
  }
.hide-both {
    grid-template-columns: 0em 1fr 0em;
    grid-template-rows: 1fr;
  }