editor {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 15em 1fr 5em;
  grid-template-rows: 1fr;
  overflow: hidden;
  margin: 5px 0px 5px 5px;
  border-radius: 0.25em;
  h1{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50%;
  margin-bottom: 0px;
  font-size: 52px;
  }
  h3{
  margin-top: 1em ;
  font-size: 16px;
  }
  .full {
    grid-template-columns: 15em 1fr 5em;
    grid-template-rows: 1fr;
  }
  .hide-toc {
    grid-template-columns: 0em 1fr 5em;
    grid-template-rows: 1fr;
  }
  .hide-drafts {
    grid-template-columns: 15em 1fr 0em;
    grid-template-rows: 1fr;
  }
  .hide-both {
    grid-template-columns: 0em 1fr 0em;
    grid-template-rows: 1fr;
  }
  col-1 {
    display: grid;
    grid-column: 1;
    grid-template-rows: auto 2.5em;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
    booktitle {
      display: block;
      margin: 0.25em;
      font-size: 1.125em;
      border-bottom: solid 1px darkgrey;
      text-align: center;
    }
    add-contents {
      padding: 0.25em 0 0.25em 0;
      display: grid;
      grid-template-columns: auto 4.5em;
      margin: 0.25em;
      border-top: solid 1px darkgrey;
    }
    word-count {
      font-weight: bold;
      padding: 0.25em 0.5em;
    }
    word-count:after {
      content: " words";
    }
  }
  col-2 {
    background-color: white;
    display: grid;
    grid-template-rows: 40px auto 40px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);

    top-toolbar {
      padding: 0.5em;
      display: grid;
      grid-template-columns: auto auto auto;
    }

    adjacent.right:before {
      content: attr(value) " " " ";
      font-weight: bold;
    }

    adjacent:hover {
      color: blue;
    }

    content-title {
      font-size: 1.25em;
      text-align: center;
    }

    content-title:before {
      content: attr(name) attr(value) ": ";
    }

    

  button {
    background-color: inherit;
    color: black;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 100%;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }

  button:hover {
    background-color: lightgrey;
  }

  .content_MetaData {
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
    font-size: 75%;
    grid-column: 1 / span 2;
    background-color: whitesmoke;
    margin: 5px 5px 5px 0px;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    z-index: 1;
  }
  .content-full {
    text-align: center;
    grid-column: 1 / span 2;
  }

  .content-item {
    display: grid;
    grid-template-columns: auto 20px;
  }

  content {
    display: block;
    padding: 2px 2px 2px 7px;
    margin: 5px 5px 5px 5px;
    border-radius: 0.25em;
    background-color: darkgrey;
  }
  content:before {
    content: attr(name) attr(value) ": " attr(title);
  }

  content:hover {
    background-color: rgb(184, 182, 182);
  }
  .selected {
    background-color: darkgrey;
  }

  col-3 {
    border-radius: 0px 5px 5px 5px;
    display: grid;
    grid-template-rows: 35px auto 40px;
    grid-row: 1 / span 3;
    grid-column: 3 / span 1;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  draft-title {
    margin: 0.25em;
    text-align: center;

    border-bottom: solid 1px darkgrey;
  }
  a {
    outline: none;
  }
  a:focus {
    border-radius: 0.125em;
    background-color: lightgrey;
  }

  [contenteditable="true"]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block;
    color: gray;
  }
}
